<section class="block about-me">
  <div class="container grid grid--md">
    <picture class="block__about-me-image">
      <source type="image/svg" srcset="assets/images/about-me.svg" />
      <img
        src="assets/images/about-me.svg"
        alt="about me"
        class="block__about-me-image__pic"
      />
    </picture>
    <div class="block__about-me">
      <h2 class="block__heading">about me</h2>
      <p class="block__desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, eligendi
        repellat. Alias rerum fugit facere? Tenetur, ipsa ut? Iusto dicta harum
        explicabo saepe, expedita voluptas.
      </p>
      <a href="" class="btn btn--primary">my work</a>
    </div>
  </div>
</section>
