<div class="container">
  <div class="contact contact--primary contact-box">
    <div class="contact__content">
      <h2 class="contact__heading">contact</h2>
      <ul class="list">
        <li class="list__item">
          <a
            href="https://www.facebook.com/sabeeh.ahmed.338"
            target="_blank"
            class="list__link"
          >
            <img src="assets/images/fb-icon.png" alt="" />
          </a>
        </li>
        <li class="list__item">
          <a
            href="https://www.linkedin.com/in/sabeeh-ahmad-a49107115/"
            target="_blank"
            class="list__link"
          >
            <img src="assets/images/li-icon.png" alt="" />
          </a>
        </li>
      </ul>
      <a href="mailto:sabeehahmed5@gmail.com" class="contact-link"
        >sabeehahmed5@gmail.com</a
      >
    </div>
  </div>
</div>
<footer class="block block--footer footer">
  <div class="container">
    <img src="assets/images/logo-alt.png" alt="" class="logo" />
    <p class="footer__text">&copy; copyright 2022. sabeeh ahmed</p>
  </div>
</footer>
