<section class="block hero">
  <div class="container grid grid--md">
    <header class="block__hero">
      <h1 class="block__heading">hello, I'm sabih.</h1>
      <p class="block__desc">front-end developer</p>
      <a href="" class="btn btn--primary">contact</a>
    </header>
    <picture class="block__hero-image">
      <source type="image/svg" srcset="assets/images/hero.svg" />
      <img
        src="assets/images/hero.svg"
        alt="hero"
        class="block__hero-image__pic"
      />
    </picture>
  </div>
</section>
