<header>
  <div class="container">
    <nav class="nav collapsible">
      <a href="/">
        <img src="assets/images/logo.png" alt="logo" class="logo" />
      </a>
      <img
        src="assets/images/menu-icon.svg"
        alt="menu icon"
        class="icon nav__toggler"
      />
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="">home</a></li>
        <li class="nav__item"><a href="">about me</a></li>
        <li class="nav__item"><a href="">skills</a></li>
        <li class="nav__item"><a href="">work</a></li>
        <li class="nav__item"><a href="">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
