<section class="block skills">
  <header class="container block__header">
    <h2 class="block__title">skils</h2>
  </header>
  <div class="container grid grid--md grid--lg">
    <article class="block__skill">
      <div class="card">
        <img src="assets/images/html5.png" alt="" class="card__pic" />
        <h3 class="card__title">html5</h3>
      </div>
    </article>
    <article class="block__skill">
      <div class="card">
        <img src="assets/images/css3.png" alt="" class="card__pic" />
        <h3 class="card__title">css3</h3>
      </div>
    </article>
    <article class="block__skill">
      <div class="card">
        <img src="assets/images/bootstrap.png" alt="" class="card__pic" />
        <h3 class="card__title">bootstrap</h3>
      </div>
    </article>
    <article class="block__skill">
      <div class="card">
        <img src="assets/images/psdtohtml.png" alt="" class="card__pic" />
        <h3 class="card__title">psd to html</h3>
      </div>
    </article>
    <article class="block__skill">
      <div class="card">
        <img src="assets/images/psdtobs.png" alt="" class="card__pic" />
        <h3 class="card__title">psd to bootstrap</h3>
      </div>
    </article>
    <article class="block__skill">
      <div class="card">
        <img src="assets/images/wordpress.png" alt="" class="card__pic" />
        <h3 class="card__title">wordpress</h3>
      </div>
    </article>
  </div>
</section>
