<section class="block work">
  <header class="container block__header">
    <h2 class="block__title">my work</h2>
  </header>
  <div class="container grid grid--md grid--lg">
    <article class="block__work">
      <div class="card">
        <img src="assets/images/moshify.webp" alt="" class="card__pic" />
        <h3 class="card__title">moshify</h3>
      </div>
    </article>
    <article class="block__work">
      <div class="card">
        <img src="assets/images/doob.webp" alt="" class="card__pic" />
        <h3 class="card__title">doob</h3>
      </div>
    </article>
    <article class="block__work">
      <div class="card">
        <img src="assets/images/applab.webp" alt="" class="card__pic" />
        <h3 class="card__title">applab</h3>
      </div>
    </article>
    <article class="block__work">
      <div class="card">
        <img src="assets/images/htech.webp" alt="" class="card__pic" />
        <h3 class="card__title">h&dash;tech</h3>
      </div>
    </article>
    <article class="block__work">
      <div class="card">
        <img src="assets/images/agency.webp" alt="" class="card__pic" />
        <h3 class="card__title">agency</h3>
      </div>
    </article>
  </div>
</section>
