:root{
    --primary-color: #212834;
    --secondary-color: #0D8FCD;
    --white-color: #ffffff;
}

/* General */
*,:after,:before{
    box-sizing:border-box
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    color: var(--primary-color);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,h2,h3{
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0;
}

h1{
    font-size: 3.052rem;
}

h2{
    font-size: 2.441rem;
}

h3{
    font-size: 1.953rem;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.logo{
    height: auto;
    max-width: 146px;
    width: 100%;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 4.209rem;
    }

    h2{
        font-size: 3.157rem;
    }

    h3{
        font-size: 2.369rem;
    }
}

/* Button */
.btn{
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: 0;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: capitalize;
}

.btn--primary{
    background: var(--primary-color);
    color: var(--white-color);
    transition: all 0.3s;
}

.btn--primary:hover{
    background: var(--secondary-color);
}

.btn--scroll{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: var(--secondary-color);
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
  }
  
  .btn--scroll:hover {
    background-color: var(--primary-color);
  }

/* Icon */
.icon{
    width: 32px;
    height: 32px;
}

/* Grid */
.grid{
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--md{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px) {
    .grid--lg{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* List */
.list{
    list-style-type: none;
    padding-left: 0;
}

.list .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list .list__item:last-child{
    margin-right: 0;
}

/* Nav */

.nav{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.nav__toggler{
    cursor: pointer;
    filter: invert(12%) sepia(9%) saturate(1749%) hue-rotate(179deg) brightness(99%) contrast(91%);
}

.nav__list{
    margin: 0;
    text-align: center;
    width: 100%;
}

.nav__item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 2rem;
    text-transform: capitalize;
}

.nav__item:last-of-type{
    border-bottom: none;
}

.nav__item > a{
    color: var(--white-color);
    font-weight: bold;
    transition: all 0.3s;
}

.nav__item > a:hover{
    color: var(--secondary-color);
}

.collapsible__content{
    background: var(--primary-color);
    border-radius: 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }

@media screen and (min-width:768px) {
    .nav__toggler{
        display: none;
    }

    .nav__list{
        display: flex;
        width: auto;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item{
        border: none;
    }

    .nav__item > a{
        color: var(--primary-color);
    }

    .nav__item > a:hover{
        color: var(--secondary-color);
    }

    .collapsible__content{
        background: transparent;
        border-radius: 0;
    }
}

/* Block */
.block{
    padding: 5rem 2rem;
}

.block--footer{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 5rem 2rem;
}

.skills .block__header,
.work .block__header{
    margin-bottom: 3rem;
    text-align: center;
    text-transform: capitalize;
}

.skills .block__header .block__title,
.work .block__header .block__title{
    margin-bottom: 0;
    padding: 2.5rem 0;
}

/* Hero */
.block__hero{
    order: 2;
}

.block__hero-image{
    order: 1;
}

.block__hero,
.block__hero-image{
    align-self: center;
    text-align: center;
}

.block__hero-image .block__hero-image__pic{
    height: auto;
    max-width: 500px;
    width: 100%;
}

.hero .block__heading,
.hero .block__desc{
    text-transform: capitalize;
}

.hero .block__desc{
    margin-bottom: 2rem;
}

.hero .btn{
    display: inline-block;
}

@media screen and (min-width:768px) {
    .block__hero{
        order: 1;
        text-align: left;
    }

    .block__hero-image{
        order: 2;
        text-align: center;
    }
}

/* About Me */
.block__about-me,
.block__about-me-image{
    align-self: center;
    text-align: center;
}

.block__about-me-image .block__about-me-image__pic{
    height: auto;
    max-width: 325px;
    width: 100%;
}

.about-me .block__heading{
    text-transform: capitalize;
}

.about-me .block__desc{
    margin-bottom: 2rem;
}

.about-me .btn{
    display: inline-block;
}

@media screen and (min-width:768px){
    .block__about-me{
        text-align: left;
    }

    .about-me .block__heading{
        margin: 3rem 0;
    }
}

/* Skills */
.skills{
    margin-bottom: 7rem;
}

.block__skill{
    align-self: center;
    text-align: center;
}

.skills .grid{
    gap: 40px;
}

.skills .card{
    border-radius: 7px;
    box-shadow: 0 0 10px 5px #f3f3f3;
    padding: 4rem 2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.skills .card:hover{
    transform: scale(1.05);
}

.skills .card .card__pic{
    height: auto;
    margin-bottom: 1rem;
    max-width: 75px;
    width: 100%;
}

.skills .card .card__title{
    margin-bottom: 0;
    text-transform: uppercase;
}

/* Work */
.work{
    margin-bottom: 7rem;
}

.block__work{
    align-self: center;
    text-align: center;
}

.work .grid{
    gap: 40px;
}

.work .card{
    border-radius: 7px;
    box-shadow: 0 0 10px 5px #f3f3f3;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.work .card:hover{
    transform: translateY(-10px);
}

.work .card .card__pic{
    height: auto;
    max-width: 100%;
    width: 100%;
}

.work .card .card__title{
    color: var(--primary-color);
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 0;
    text-transform: uppercase;
}

/* Contact */
.contact{
    padding: 4rem;
    border-radius: 5px;
}

.contact-box{
    transform: translateY(4rem);
}

.contact--primary{
    background: var(--secondary-color);
    color: var(--white-color);
}

.contact__heading{
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.contact__content{
    text-align: center;
}

.contact__content .list .list__item .list__link{
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.contact__content .list .list__item .list__link:hover{
    transform: scale(1.10);
}

.contact__content .contact-link{
    color: white;
}

/* Footer */
.footer{
    text-align: center;
}

.footer .footer__text{
    font-size: 1.4rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

.footer .footer__link{
    display: inline-block;
}